body {
  background-color: #d9d9d9c6;
  color: white; /* Color del texto */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0%;

}
.nav {
  font-size: 20px;
  background-color: rgb(21, 38, 86);
  height: max-content;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 10%;
  gap: 10%;
  padding: 3px;
}
.cont{
display: flex;
flex-direction: column;
width: auto;
height: auto;
flex-wrap: wrap;
margin-top: 10%;
color: black;
}
.cont h1{

  font-size: 45px;
}
.cont p{
  font-size: 39px;
}







.btn-agen {
  width: 223px;
  height: 69px;
  flex-shrink: 0;
  border-radius: 25px;
  background: rgb(21, 38, 86);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  
}





.btn-agen:hover {
  background-color: #91a18a;
  color: rgb(12, 47, 135);
}
