body {
  background-color: #d9d9d9c6;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  justify-content: center;
  align-items: flex-start;  
  margin: 0%;
  background-image: url(../IMG/fondo.jpg);
  background-size: cover;
    
}
.Tit{
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
  color: white;
}


.navv{
   background-color: rgb(21, 38, 86);
  width: 100%;
  height: 60px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  color:white;
  padding-left: 6%;
  
}



/*--------------------------pie de pagina---------------------------*/
.pie-pagina{
  position: fixed;
  background-color: rgb(21, 38, 86);
  bottom: 0%;
  width: 100%;
  height: 110px;
  left: 0%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
}


.pie-pagina h2{
  
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #bdbcbce2;
}
.pie-pagina p{
  
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.redes-sociales {
 
  margin-left: 10px;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  
}

.redes-sociales p{
  display: flex;
  margin-left: -60px;
  gap: 100px;
  font-size: 20px;
  
}

.icons-redes {
  display: flex;
  margin-left: 0px;
  gap: 60px;
  font-size: 40px;
  align-items: center;
  color: #bdbcbce2;
  
}


/*--------------------------Login--------------------------*/

.h1{
color: rgb(88, 87, 87);

}
h2{
  margin: 0%;
}
#login{
  position: absolute;
  margin-top: 30px;
  position: relative;
  top: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
  background-color: #bdbcbc8d;
  border-radius: 30px;
  margin-left: 5%;
  
}
input{
  
border-radius: 30px;
border: none;
height: 30px;
margin: 8px;
}



/*------crear cuenta-----------*/
.h1{
  color: rgb(88, 87, 87);
  
  }
  h2{
    margin: 0%;
  }

  #crear{
    position: absolute;
    top: 20%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    padding: 20px;
    background-color: #bdbcbc68;
    border-radius: 30px;
    margin-left: 5%; 
    transition: top 2s linear;
    
  }


  input{  
  border-radius: 30px;
  border: none;
  height: 30px;
  margin: 8px;
  }

  .hide{
    position: absolute;
    transform: translateY(-600%);
  }



  