body{
    background-color: #b4c8ad;   
    display: flex;
    background-size: cover;
    flex-direction: column;
}

.imagensvg{
    width: 598px;
    height: 805px;
    flex-shrink: 0;
    position: absolute;
    left: 870px;
    top: -5%;
}

.agenda{
    width: 366px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #a7aaa380;
    position: absolute;
    left: 100px;
    top: 35px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
}

.calendarsvg{
    position: absolute;
    width: 87px;
    height: 82px;
    top: 20px;
    color: black;
    flex-shrink: 0;
}

.redes-sociales{
    position: fixed;
    top: 35px;
    right: 30px;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

.redes-sociales svg{ 
    width: 40px;
    height: 40px;
    fill: black;
}